<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="card" connectionString="mongodb://card:card@localhost/card"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TicketMaxValidMinutes" value="10"/>
		<add key="TicketMinValidSeconds" value="5"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="NewBinding0" transferMode="Buffered" />
			</webHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="serviceBehavior" name="WindowsServer.MembershipCard">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WindowsServer.IMembershipCard" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<diagnostics>
			<messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
		</diagnostics>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add initializeData="c:\test\trace\trace.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="sdt">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\test\trace\traceMessage.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>
