<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="card" connectionString="mongodb://card:card@localhost/card"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="WindowsServer.MembershipCard" behaviorConfiguration="serviceBehavior">
				<endpoint address="" binding="webHttpBinding" contract="WindowsServer.IMembershipCard" behaviorConfiguration="web"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>
